@model IEnumerable<Internet_veikals.Models.OrderProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">OrderProduct</li>
        </ol>
    </div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                Order @Html.DisplayNameFor(model => model.Order.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idO = item.OrderId, idP = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { idO = item.OrderId, idP = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { idO = item.OrderId, idP = item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
